/* 
===========
Google fonts
===========
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Prosto+One&display=swap");

/* 
===========
CSS variables
===========
*/
:root {
  /* dark shades of primary color */
  --cl-primary-1: #006422;
  --cl-primary-2: #1a7438;
  --cl-primary-3: #33834e;
  --cl-primary-4: #4d9364;
  /* primary main color */
  --cl-primary-5: #66a27a;
  /* lighter shades of primary color */
  --cl-primary-6: #80b291;
  --cl-primary-7: #99c1a7;
  --cl-primary-8: #b3d1bd;
  --cl-primary-9: #cce0d3;
  --cl-primary-10: #e6f0e9;
  /* for heading  */
  --cl-gray-1: #808080;
  --cl-gray-2: #888888;
  --cl-gray-3: #909090;
  --cl-gray-4: #989898;
  /* for paragraphs */
  --cl-gray-5: #a0a0a0;
  --cl-gray-6: #a8a8a8;
  --cl-gray-7: #b8b8b8;
  --cl-gray-8: #bebebe;
  --cl-gray-9: #c0c0c0;
  --cl-gray-10: #d3d3d3;
  --cl-white: #ffffff;
  --cl-black: #111111;

  --fluid-width: 90vw;
  --max-width: 1170px;

  --shadow-dark: 10px 10px 5px -4px rgba(0, 0, 0, 0.382);
  --shadow-light: 10px 10px 5px -4px rgba(0, 0, 0, 0.195);

  --letter-spacing: 0.2rem;
  --border-radius: 0.5rem;

  --transition: all 0.2s linear;

  --primary-font: "Prosto One", cursive;
  --secondary-font: "Dancing Script", cursive;
}

/* 
===========
Global styles
===========
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: var(--primary-font);
  line-height: 1.5;
  font-size: 0.85rem;
  color: var(--cl-primary);
  background: var(--cl-white);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
  color: var(--cl-gray-5);
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  color: var(--cl-white);
  background: var(--cl-primary-5);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  padding: 0.6rem 0.6rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 1rem 0;
  letter-spacing: var(--letter-spacing);
}

.section {
  padding: 2rem 0;
}

.section-center {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.section-title {
  padding-bottom: 2rem;
  text-align: center;
}
.section-title h2,
.section-title span {
  text-transform: uppercase;
}

.section-title span {
  color: var(--cl-primary-4);
}

/* 

/* 
===========
Hero
===========
*/

.hero {
  background: var(--cl-primary-5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--cl-white);
}

.hero-banner h1 {
  text-transform: uppercase;
}

.hero-banner p {
  color: var(--cl-white);
}

.hero-btn {
  color: var(--cl-primary-5);
  background: var(--cl-white);
  border-radius: 0;
  padding: 1.3rem;
  font-size: 1.2rem;
}

.hero-btn:hover {
  background: var(--cl-primary-1);
  color: var(--cl-white);
  border: 0.1rem solid var(--cl-white);
}

@media screen and (min-width: 600px) {
  .hero {
    background: linear-gradient(rgb(0, 100, 34, 0.3), rgb(0, 100, 34, 0.3)),
      url("../images/tour-main.jpeg") center/cover;
  }
}

/* 
===========
About
===========
*/

.about-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-img-wrapper,
.about-content {
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .about-img-wrapper,
  .about-content {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
  }
  .about-content {
    align-self: center;
  }
}

@media screen and (min-width: 1100px) {
  .about-img-wrapper {
    position: relative;
  }
  .about-img-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--cl-primary-5);
    top: -1rem;
    left: -1rem;
    position: absolute;
    opacity: 1;
    z-index: -1;
    /* "*" does not work for before and after 
    Use  box-sizing: border-box to avoid extra space due to border */
    box-sizing: border-box;
  }
}

/* 
===========
Services
===========
*/

#services {
  background: var(--cl-primary-10);
}

.service {
  text-align: center;
  margin-bottom: 2rem;
}

.service-info {
  max-width: 20rem;
  margin: 0 auto;
}

.service-icon {
  background: var(--cl-primary-5);
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 1rem;
}

@media screen and (min-width: 800px) {
  .services-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .service {
    flex: 0 0 calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .service {
    flex: 0 0 calc(33.33% - 2rem);
    display: flex;
    justify-content: space-between;
  }
  .service-icon {
    flex: 0 0 calc(20% - 2rem);
    align-self: flex-start;
  }
  .service-info {
    flex: 0 0 calc(80% - 2rem);
    text-align: left;
  }
}
