/* 
===========
Google fonts
===========
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Prosto+One&display=swap");

/* 
===========
CSS variables
===========
*/
:root {
  --cl-primary: #0074d9;
  --cl-primary-dark: #2d5c8b;
  --cl-primary-light: #7fdbff;
  --cl-silver: #dddddd;
  --cl-gray: #aaaaaa;
  --cl-gray-dark: #827e7e;
  --cl-white: #ffffff;
  --cl-black: #111111;

  --fluid-width: 90vw;
  --max-width: 1170px;

  --shadow-dark: 10px 10px 5px -4px rgba(0, 0, 0, 0.382);
  --shadow-light: 10px 10px 5px -4px rgba(0, 0, 0, 0.195);

  --letter-spacing: 0.2rem;
  --border-radius: 0.5rem;

  --transition: all 0.2s linear;

  --primary-font: "Prosto One", cursive;
  --secondary-font: "Dancing Script", cursive;
}

/* 
===========
Global styles
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  line-height: 1.5;
  font-size: 0.85rem;
  color: var(--cl-primary);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  color: var(--cl-white);
  background: var(--cl-primary);
  border-radius: var(--border-radius);
  padding: 0.6rem 0.6rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 1rem 0;
  letter-spacing: var(--letter-spacing);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.section-title h2 {
  font-family: var(--secondary-font);
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1170px;
}
/* 
===========
header
===========
*/

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/manga-main.jpg") center/cover no-repeat fixed;
  position: relative;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--cl-primary-light);
}

.banner-btn {
  outline: 0.1rem solid var(--cl-primary-light);
  outline-offset: 0.2rem;
}

/* 
===========
nav
===========
*/

.nav {
  color: var(--cl-primary-light);
  font-size: 2rem;
  margin: 2rem;
  position: fixed;
  z-index: 10;
  top: 0%;
  animation: nav 1s ease-in-out alternate infinite;
}

@keyframes nav {
  /* 0% {
    transform: scale(1);
  } */
  100% {
    transform: scale(1.8);
  }
}

/* 
===========
content divider
===========
*/

.content-divider {
  height: 0.6rem;
  background: linear-gradient(
    to right,
    var(--cl-primary-light),
    var(--cl-primary),
    var(--cl-primary-light)
  );
}

/* 
===========
skills
===========
*/
.skills {
  background: var(--cl-silver);
}
.skill {
  text-align: center;
  padding: 2rem;
  transition: var(--transition);
}
.skill:hover {
  background: var(--cl-white);
}
.skill:hover .skill-icon {
  transform: translateY(-0.5rem);
}
.skill-icon {
  color: var(--cl-primary-dark);
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
  transition: var(--transition);
}

@media screen and (min-width: 500px) {
  .skill {
    height: 17rem;
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .skill {
    width: 25%;
  }
}

/* 
===========
about
===========
*/

.about-pic-container {
  border: 0.5rem solid var(--cl-primary);
  overflow: hidden;
  max-width: 30rem;
}

.about-pic {
  transition: var(--transition);
}

.about-pic-container:hover .about-pic {
  transform: scale(1.2);
}

.about-info,
.about-img {
  padding: 2rem 0;
}

@media screen and (min-width: 800px) {
  .about-img,
  .about-info {
    width: 50%;
    float: left;
  }
  .about-info {
    padding-left: 2rem;
  }
}

/* 
===========
products
===========
*/
.products {
  background: var(--cl-silver);
}

.product,
.products-info {
  margin-bottom: 2rem;
}

.product-img {
  max-width: 30rem;
  height: 10rem;
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .product {
    float: left;
    width: 50%;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 650px) {
  .product {
    width: 33.33%;
  }
  .product,
  .products-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 800px) {
  .products-info {
    float: left;
    width: 40%;
    padding-right: 2rem;
  }
  .product {
    width: 20%;
  }
}

/* 
===========
services
===========
*/
.services {
  text-align: center;
}

.service-wrap {
  transition: var(--transition);
}
.service {
  background: var(--cl-silver);
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: var(--shadow-light);
}

.service:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-dark);
}

.service-img {
  height: 10rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  object-fit: cover;
}

.service-content {
  padding: 2rem;
}

.service-icon-wrap {
  color: var(--cl-white);
  background-color: var(--cl-primary-dark);
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.3rem solid var(--cl-silver);
}

@media screen and (min-width: 500px) {
  .service-wrap {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 700px) {
  .service-wrap {
    width: 30%;
    margin-right: 3.33%;
  }
}

/* 
===========
contact
===========
*/
.contact {
  background: var(--cl-silver);
}
.contact p {
  color: var(--cl-black);
}
.contact .address p {
  max-width: 15rem;
}

.contact-us {
  background: var(--cl-white);
  text-align: center;
  max-width: 25rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
}
.contact-us h4 {
  padding: 0.5rem 0;
}
.contact-info i,
.contact-info span {
  color: var(--cl-primary-dark);
}
.contact-us .contact-us-field {
  display: block;
  width: 90%;
  margin: 1rem auto;
  background: rgba(216, 212, 212, 0.496);
  padding: 0.3rem 0 0.3rem 0.5rem;
  border: none;
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius);
  font-family: var(--primary-font);
}

.contact-us .btn {
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  border: transparent;
}

@media screen and (min-width: 600px) {
  .contact-info,
  .contact-us {
    float: left;
    width: 50%;
  }
}

/* 
===========
footer
===========
*/

footer {
  background: var(--cl-black);
  text-align: center;
  padding: 2rem 0;
  color: var(--cl-white);
}
footer i {
  color: var(--cl-white);
  font-size: 1.3rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
footer h4 {
  margin: 0;
}
footer h4 span {
  color: var(--cl-primary);
}
